<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center mb-4">Edit Plan</h1>
        <div class="col-8 offset-2 col-lg-4 offset-lg-0">
            <form action="/plans/<%= plan._id%>?_method=PUT" method="POST" novalidate class="needs-validation"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="plan[name]" value="<%= plan.name%>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a name for the plan.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="plan[location]"
                        value="<%= plan.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a location.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label">Duration (days)</label>
                    <input type="number" class="form-control" id="duration" name="plan[duration]"
                        value="<%= plan.duration%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a duration.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3"
                        name="plan[description]"><%= plan.description%></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload an image</label>
                    <input class="form-control" type="file" name="image" id="image">
                </div>
                <div class="mb-3">
                    <label for="imgUrl" class="form-label">Or provide a URL</label>
                    <input type="text" class="form-control" id="imgUrl" name="plan[imgUrl]">
                </div>
                <div class="mb-3"><button class="btn btn-success">Save</button></div>

            </form>
            <div class="mb-3">
                <a class="btn btn-secondary" href="/plans/<%= plan._id%>">Back to plan</a>
            </div>
        </div>
        <script src="/scripts/sortCards.js"></script>
        <span aria-live="polite" class="assistive-text visually-hidden" id="operation">Press Spacebar to
            reorder</span>
        <div class="col-8 offset-2 col-lg-6 offset-lg-1">
            <div class="row" id="draggableCards" role="listbox">
                <% for (let [i, day] of plan.days.entries()) { %>
                    <div class="col">
                        <div id="<%= i %>" role="option" aria-describedby="operation" tabindex="0" draggable="true"
                            class="card drag-card shadow rounded bg-secondary" ondragstart="dragStart(event)"
                            ondragover="allowDrop(event)" ondrop="dragDrop(event)">
                            <form action="/plans/<%= plan._id%>/days/<%=i%>?_method=DELETE" method="POST">
                                <button class="btn-close btn-sm" aria-label="Delete"></button>
                            </form>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= day.dayOfTheWeek %> <small>
                                            <%= day.date %>
                                        </small>
                                </h5>
                                <p class="card-text">
                                    <% for (let [j, stop] of day.stops.entries()) { %>
                                        <div class="card rounded shadow-sm bg-muted flex-row justify-content-between">
                                            <span>
                                                <%= stop %>
                                            </span>
                                            <form class="d-inline"
                                                action="/plans/<%= plan._id%>/days/<%=i%>/stops/<%=j%>?_method=DELETE"
                                                method="POST">
                                                <button class="btn btn-sm" aria-label="Delete"><span
                                                        aria-hidden="true">&times;</span></button>
                                            </form>

                                        </div>
                                        <% } %>
                                </p>
                                <div class="mt-2">
                                    <form action="/plans/<%= plan._id%>/days/<%=i%>/stops" method="POST">
                                        <input id="stop" name="stop" class="form-control" />
                                        <button class="btn btn-muted btn-sm" aria-label="Add a stop">Add a
                                            stop</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                        <div class="col">
                            <div class="card shadow-sm rounded bg-light">
                                <div class="card-body">

                                    <h3 class="card-title">Add a day</h3>
                                    <form action="/plans/<%= plan._id%>/days" method="POST" novalidate
                                        class="needs-validation">
                                        <div class="mb-3">
                                            <label for="day-of-week" class="form-label">Day of week</label>
                                            <input id="day-of-week" name="day[dayOfTheWeek]" class="form-control"
                                                required />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date" class="form-label">Date</label>
                                            <input id="date" name="day[date]" class="form-control" required />
                                        </div>

                                        <div class="mb-3"><button class="btn btn-success">Save</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>