<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center mb-4">Edit Plan</h1>
        <div class="col-8 offset-2 col-lg-4 offset-lg-0">
            <form action="/plans/<%= plan._id%>?_method=PUT" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="plan[name]" value="<%= plan.name%>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a name for the plan.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="plan[location]"
                        value="<%= plan.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a location.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label">Duration (days)</label>
                    <input type="number" class="form-control" id="duration" name="plan[duration]"
                        value="<%= plan.duration%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a duration.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3"
                        name="plan[description]"><%= plan.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="image" name="plan[image]" value="<%= plan.image%>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"><button class="btn btn-primary">Save</button></div>

            </form>
            <div class="mb-3">
                <a class="btn btn-secondary" href="/plans/<%= plan._id%>">Back to plan</a>
            </div>
        </div>

        <div class="col-8 offset-2 col-lg-6 offset-lg-1">
            <div class="row">
                <% for (let [i, day] of plan.days.entries()) { %>
                    <div class="col">
                        <div class="card shadow rounded bg-light">
                            <form action="/plans/<%= plan._id%>/days/<%=i%>?_method=DELETE" method="POST">
                                <button class="btn-close btn-sm" aria-label="Delete"></button>
                            </form>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= day.dayOfTheWeek %> <small>
                                            <%= day.date %>
                                        </small>
                                </h5>
                                <p class="card-text">
                                    <%= day.stops %>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                </p>
                                <div class="mt-2">
                                    <form action="">
                                        <input id="stop" name="stop" class="form-control" />
                                        <button class="btn btn-muted btn-sm" aria-label="Add a stop">Add a
                                            stop</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                        <div class="col">
                            <div class="card shadow-sm rounded bg-light">
                                <div class="card-body">

                                    <h3 class="card-title">Add a day</h3>
                                    <form action="/plans/<%= plan._id%>/days" method="POST" novalidate
                                        class="needs-validation">
                                        <div class="mb-3">
                                            <label for="day-of-week" class="form-label">Day of week</label>
                                            <input id="day-of-week" name="day[dayOfTheWeek]" class="form-control"
                                                required />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date" class="form-label">Date</label>
                                            <input id="date" name="day[date]" class="form-control" required />
                                        </div>

                                        <div class="mb-3"><button class="btn btn-primary">Save</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>