<% layout('layouts/boilerplate') %>

    <h1 class="mb-3">All Plans in <%= country %>
    </h1>
    <div class="row">
        <div class="col-md-4"><a class="btn btn-primary text-light mb-3" href="/plans/new">Create a new plan</a></div>
        <div class="col-md-8">Most popular categories: <a class="px-3" href="/plans?country=france">France</a><a
                class="px-3" href="/plans?country=italy">Italy</a></div>
    </div>
    <button id='mapShow' type="button" class="btn btn-info mb-3" data-bs-toggle="modal" data-bs-target="#mapModal">
        Show on map
      </button>
      
    <div id='mapModal' class="modal fade">
        <div class="modal-dialog modal-xl modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">All Plans in <%= country %></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex">
                    <div id="mapContainer">
                        <div id="map"></div>
                    </div>
                </div>
              </div>   
        </div>       
    </div>

    <% for (let plan of plans) {%>
        <div class="card shadow-sm mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%= plan.image.url%>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= plan.name%>, <%= plan.duration%> days
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= plan.location%>
                            </small>
                        </p>
                        <p class="card-text">
                            <%= plan.description%>
                        </p>
                        <a href="/plans/<%= plan._id%>" class="btn btn-success text-secondary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const plans = {features:<%-JSON.stringify(plans)%>};
</script>
<script src='/scripts/indexPageMap.js'></script>