<% layout('layouts/boilerplate') %>
    <h1 class="mb-3">All Plans in <%= country %>
    </h1>
    <div class="row">
        <div class="col-md-4"><a class="btn btn-secondary mb-3" href="/plans/new">Create a new plan</a></div>
        <div class="col-md-8">Most popular categories: <a class="px-3" href="/plans?country=france">France</a><a
                class="px-3" href="/plans?country=italy">Italy</a></div>
    </div>


    <% for (let plan of plans) {%>
        <div class="card shadow-sm mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%= plan.image%>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= plan.name%>, <%= plan.duration%> days
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= plan.location%>
                            </small>
                        </p>
                        <p class="card-text">
                            <%= plan.description%>
                        </p>
                        <a href="/plans/<%= plan._id%>" class="btn btn-info">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>